* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.page {
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav main-content advertising"
    "footer footer footer";
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 10rem 1fr 10rem;
    row-gap: 5px;
    height: 100vh;
}

.header {
    grid-area: header;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}

.header-container {
    margin-left: 20px;
}

.logo {
    font-size: 5rem;
    font-weight: bold;
}

.nav {
    grid-area: nav;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-container {
    padding: 1rem;
    display: grid;
    row-gap: 10px;
}

.nav-container li{
    list-style-type: none;
}

.nav-container a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.nav-container a:hover {
    color: green;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-rows: 5rem 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
}

.popular {
    grid-column: 1/3;
    display: grid;
    align-items: center;
    font-size: 1.5rem;
}

.popular h1 {
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2rem 1fr;
    text-align: center; 
    align-items: center;
}

.main-content img {
    grid-row: 1/3;
    height: 100%;
    width: 100%;
}

.name {
    font-size: 2rem;
    font-weight: bold;
}

.description {
    font-size: 1.5rem;
    line-height: 2rem;
}

.advertising {
    grid-area: advertising;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer {
    grid-area: footer;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}

.footer-container {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 20px;
}

@media screen and (max-width: 768px) { 
    .page {
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "main-content"
        "advertising"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 10% 10% 1fr 20% 10%;
        height: 100vh;
        row-gap: 0;
    }
    
    .header {
        grid-area: header;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
    }
    
    .header-container {
        margin: 0;
        text-align: center;
    }
    
    .logo {
        font-size: 5rem;
        font-weight: bold;
    }
    
    .nav {
        grid-area: nav;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: grid;
        align-items: center;
    }
    
    .nav-container {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
        text-align: center;
    }
    
    .nav-container li{
        list-style-type: none;
    }
    
    .nav-container a {
        font-size: 2rem;
        text-decoration: none;
        color: black;
    }
  
    .main-content {
        grid-area: main-content;
        display: grid;
        grid-template-rows: 5rem 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 0 5px;
    }
    
    .popular {
        grid-column: 1/3;
        display: grid;
        align-items: center;
        font-size: 1.5rem;
    }
    
    .popular h1 {
        text-align: center;
    }
    
    section {
        display: grid;
        grid-template-columns: 20rem 1fr;
        grid-template-rows: 2rem 1fr;
        text-align: center; 
    }
    
    .main-content img {
        grid-row: 2/3;
        height: 100%;
        width: 100%;
        margin: auto 0 auto 0;
    }
    
    .name {
        grid-column: 1/3;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .description {
        font-size: 1.3rem;
        line-height: 18px;
    }
}

@media screen and (max-width: 375px) { 
    .page {
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "main-content"
        "advertising"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 10% 13% 1fr 20% 10%;
        height: 100vh;
    }
    
    .header {
        grid-area: header;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
    }
    
    .header-container {
        margin: 0;
        text-align: center;
    }
    
    .logo {
        font-size: 5rem;
        font-weight: bold;
    }
    
    .nav {
        grid-area: nav;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: grid;
        align-items: center;
        border-right: none;
    }
    
    .nav-container {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 40%;
        row-gap: 1.5rem;
        text-align: center;
        align-items: center;
    }
    
    .nav-container li{
        list-style-type: none;
    }
    
    .nav-container a {
        font-size: 1.8rem;
        text-decoration: none;
        color: black;
    }
    
    .main-content {
        grid-area: main-content;
        display: grid;
        grid-template-rows: 5rem 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 0 5px;
    }
    
    .popular {
        grid-column: 1/2;
        display: grid;
        align-items: center;
        font-size: 1.5rem;
    }
    
    .popular h1 {
        text-align: center;
    }
    
    section {
        display: grid;
        grid-template-columns: 20rem 1fr;
        grid-template-rows: 2rem 1fr;
        text-align: center; 
    }
    
    .main-content img {
        grid-row: 2/3;
        height: 100%;
        width: 100%;
        margin: auto 0 auto 0;
    }
    
    .name {
        grid-column: 1/3;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .description {
        font-size: 1.3rem;
        line-height: 18px;
    }
}

@media (orientation: landscape) and (max-height: 375px) {
    .page {
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "main-content"
        "advertising"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 20% 20% 1fr 40% 20%;
        height: 100vh;
    }
    
    .header {
        grid-area: header;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
    }
    
    .header-container {
        margin: 0;
        text-align: center;
    }
    
    .logo {
        font-size: 5rem;
        font-weight: bold;
    }
    
    .nav {
        grid-area: nav;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: grid;
        align-items: center;
        border-right: none;
    }
    
    .nav-container {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 40%;
        row-gap: 1rem;
        text-align: center;
        align-items: center;
    }
    
    .nav-container li{
        list-style-type: none;
    }
    
    .nav-container a {
        font-size: 1.8rem;
        text-decoration: none;
        color: black;
    }
    
    .main-content {
        grid-area: main-content;
        display: grid;
        grid-template-rows: 5rem 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 0 5px;
    }
    
    .popular {
        grid-column: 1/2;
        display: grid;
        align-items: center;
        font-size: 1.8rem;
    }
    
    .popular h1 {
        text-align: center;
    }
    
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3rem 25rem;
        text-align: center;
        align-items: center;
    }
    
    .main-content img {
        grid-row: 2/3;
        height: 100%;
        width: 100%;
        margin: auto 0 auto 0;
    }
    
    .name {
        grid-column: 1/3;
        font-size: 2rem;
        font-weight: bold;
    }
    
    .description {
        font-size: 2rem;
        line-height: 3rem;
    }
}
