* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr auto 2fr;
}

header {
  display: grid;
  align-items: center;
  background-color: rgb(38, 38, 38);
  color: white;
  padding-left: 40px;
  height: 80px;
  font-size: 28px;
}
main {
  display: grid;
  grid-template-columns: 180px auto 160px;
}

nav {
  background-color: rgb(38, 38, 38);
  color: #fff;
}

.menu__item {
  display: grid;
  align-items: center;
  height: 60px;
}

.menu__link {
  padding-left: 40px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.menu__link i {
  padding-right: 5px;
}

.menu__link:hover {
    color: #bf6520
}

.content {
  display: grid;
  grid-template-rows: 260px 80px;
  align-items: center;
  background: url("../img/clouds.jpg") center center/cover no-repeat;
  padding-left: 60px;
  color: #fff;
}

.content__header {
  font-size: 32px;
}
.content__text {
  font-size: 20px;
  max-width: 800px;
}

.ads {
  display: grid;
  grid-template-rows: repeat(4, 190px);
}

.ads__content {
  overflow: hidden;
}
.ads__content img {
  width: 400px;
  object-fit: fit;
}

footer {
  display: grid;

  justify-content: start;
  background-color: rgb(38, 38, 38);
  color: #fff;
}

.content_wrapper  {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 40px;
  justify-content: space-between;
}
.footer__content {
    padding-left: 140px;
    margin-top: 20px;
    padding-bottom: 20px;
}

