@import "norm.css";
@media screen and (max-width: 768px){
    .header{
        display: grid;
        grid-template: 1fr / 70px 1fr 70px;
    }
    .title{
        align-self: center;
        text-align: center; 
        font-size: 18px; 
    }
    .main{
        display: grid;
        grid-template: repeat(5, 1fr) / 70px repeat(3, 1fr) 70px;
    }
    .nav{
        grid-area: 1 / 1 / 6 / 2;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
    .article{
        grid-area: 1 / 2 / 6 / 5;
    }
    .news{
        display: flex;
        flex-flow: column;
        margin: 30px;
        padding: 15px;
        border-radius: 10px;
        background-color: rgba(252, 193, 0, 0.541)
    }
    .ads{
        grid-area: 1 / 5 / 6 / 6;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
    .full_ad{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
        background-color: gainsboro;
    }
    .full_ad p{
        text-align: center;
        font-size: 12px; 
    }
    .ads{
        width: 100%;
        align-items: center;
    }
    .footer{
        display: grid;
        grid-template: 1fr / 100%;
        text-align: center;
        font-size: 10px;
    }
    .img_head{
        width: 70px;
    }
    .nav_button{
        width: 70px;
        height: 150px;
        margin: 10px;
        border-radius: 10px;
        background-color: gainsboro;
        word-wrap: break-word;
        font-size: 10px;
        border: 0
    }
    .news_h{
        font-size: 15px; 
    }
    .news_p{
        font-size: 10px; 
    }   
}